script(src='http://code.jquery.com/jquery-1.7.2.min.js')
script(src='/socket.io/socket.io.js')
script
  var socket = io.connect();
  socket.on('connect', function() {
  });
  socket.on('receive-message', function(chat) {
    $('#messages').append(
      $('<div id='+chat._id+'></div>').append(
        $("<a href='#' onclick=deleteMessage('"+chat._id+"')>×</a>")
      ).append(
        $('<span> </span>')
      ).append(
        $('<span>'+chat.message+'</span>')
      )
    )
  });
  socket.on('delete-message', function(chatId) {
    $('#'+chatId).remove();
  });

  function sendMessage() {
    var message = $('#message').val();
    socket.emit('send-message', message);
  }
  function deleteMessage(chatId) {
    socket.emit('delete-message', chatId);
  }
  
h2= title
input(type='text', id='message', style='width:200px;')
input(type='button', value='送信', onclick='sendMessage()')
div#messages
  - each chat in chats
    div(id=chat._id)
      a(href='#', onclick="deleteMessage('"+chat._id+"')") ×
      span &nbsp;
      span= chat.message