h1= title
a(href="/todos/new") New Todo
table
  tr
    th Title
    th Created_at
    th
  - each todo in todos
    tr
      td= todo.title
      td= todo.created_at
      th
        a(href="/todos/"+todo._id) show