h2= title
a(href='/todos/new') New Todo
br
br
table
  tr
    th Title
    th
  - each todo in todos
    tr
      td= todo.title
      th
        a(href='/todos/'+todo._id) Show
        &nbsp;
        a(href='/todos/'+todo._id+'/edit') Edit
        &nbsp;
        a(href='/todos/'+todo._id+'/delete') Destroy